<div class="content">
    <form name="contactForm" ng-submit="sendMessage()" novalidate>
        <input type="text" name="name" placeholder="name" ng-model="contact.name" ng-required="true" />
        <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
            <small style="color: red; display: block; text-align: center;">
                Enter a valid name
            </small>
        </div>
        <input type="email" name="email" placeholder="Email" ng-model="contact.email" ng-required="true" />
        <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
            <small style="color: red; display: block; text-align: center;">
                Enter a valid email
            </small>
        </div>
        <textarea name="message" placeholder="Your Message" ng-model="contact.message" ng-required="true"></textarea>
        <input type="submit" value="Send" ng-disabled="contactForm.$invalid" />
    </form>
</div>